*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
   
  }
 
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #FFFFFF;
    background-color:#111C37;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 100%;
    height: 364px;
    left: 0px;
    margin-top: 60px;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-bottom: 2em;
    margin-left: 30px;
    margin-right: 20px;

  }
  
  .footer__logo {
   width: 228px;
    height: 35px;
    left: 113px;
    top: 1834px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-left: 35px;
   
    
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;

  }
  
  .nav__title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
   
  }
  
  .footer address {
    font-style: normal;
    margin-top: 20px;
    width: 214px;
    height: 44px;
    left: 113px;
    top: 1895px;
    font-size: 15px;
    margin-left: 35px;
   
   
    
  }
  .nav__item{
    margin-right: 20px;
   
  }

  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 20%;
  }
  
  .nav__ul a {
    color: #FFFFFF;
    font-size: 15px;

  }
  
  
  .legal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  .nav__ul .icon{
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }