*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.card2{
  font-family: 'Roboto';
  font-style: normal;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;

}
.leftside .img{
width: 738px;
height: 456px;
left: 0px;
margin-top: 40px;
}

.rightsideform{
  background-color:#111C37;
  height: 456px;
  width: 798px;
  margin-top: 40px;
  
}
.rightsideform p{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 18px;
  font-family: 'Roboto';
}
.rightsideform .heading{
  margin-left: 50px;
  margin-top: 10px;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  
}
.rightsideform .para{
  margin-top: 10px;
  margin-left: -50px;
 
}
/* =========form========== */
.login-box {
  /* position: absolute; */
  /* top: 50%;
  left: 80%; */
  width: 300px;
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background-color:#111C37;
  box-sizing: border-box;
  /* margin-left: -330px; */
  /* margin-top:-60px; */
  font-family: 'Roboto';
  
  
  
}
#user-input{
  display: flex;
  flex-direction: row;
  justify-items: center;
  column-gap: 40px;
  width: 700px;
flex-wrap:wrap;
padding-top: 10px; 
}


.login-box .user-box {
  position: relative;
}


.login-box .user-box input {
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  outline: none;
  background: transparent;
  padding-top: 10px;
  
  
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 20px 0;
  font-size: 16px;
  color: #FFFFFF;
  pointer-events: none;
  transition: .5s;
 
 
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FFFFFF;
  font-size: 17px;
 

}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}




















.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 40%;
  vertical-align: middle;
  color: #FFFFFF;
  font-size: 25px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-top: 200px;
  margin-left: 50px;
  border-radius: 4px;
  font-family: 'Roboto';
  
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #FF0000;
}

.buttonBlue:hover { background: #357bd8; }


 